In [57]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, when, count, col
spark = SparkSession.builder.appName('733').getOrCreate()
sc = spark.sparkContext

dgls = spark.read.csv('dgls_integrated.csv', header=True, inferSchema=True)

In [58]:
dgls.count()

2133

In [68]:
dgls.agg({"YEARA": "min"}).show()

+----------+
|min(YEARA)|
+----------+
|       0.0|
+----------+

In [62]:
dgls.select('AAER DATABASE IDENTIFIER').distinct().count()

686

In [88]:
num_aaer_per_firm = dgls.groupBy('ID').count().withColumnRenamed("count", "num_aaer")

In [89]:
num_aaer_per_firm.orderBy('num_aaer', ascending=False).show()

+----+--------+
|  ID|num_aaer|
+----+--------+
|  34|      24|
| 305|      15|
|1168|      14|
|1166|      14|
|1229|      14|
| 178|      13|
|1192|      13|
| 0.0|      13|
|1268|      12|
| 389|      10|
|1312|      10|
|1243|      10|
|1493|      10|
|1303|      10|
| 806|       9|
| 555|       9|
| 774|       9|
|1445|       9|
| 621|       9|
|1376|       8|
+----+--------+
only showing top 20 rows

In [90]:
num_aaer_per_firm.groupBy('num_aaer').count().orderBy('num_aaer').show()

+--------+-----+
|num_aaer|count|
+--------+-----+
|       1|  379|
|       2|  191|
|       3|  112|
|       4|   75|
|       5|   37|
|       6|   29|
|       7|   10|
|       8|   10|
|       9|    5|
|      10|    5|
|      12|    1|
|      13|    3|
|      14|    3|
|      15|    1|
|      24|    1|
+--------+-----+

In [91]:
import pandas as pd
pd_read = pd.read_csv('dgls_integrated.csv', header=0)

In [92]:
pd_read.describe()

,ID,CIK_x,YEARA,FYR,P_AAER_x,UNDERSTATEMENT,YEAR,CIK_y,QUARTER,ANNUAL,...,AAER41,AAER42,AAER43,AAER44,AAER45,AAER46,AAER47,AAER48,AAER49,TotalAAER
count,2102.000000,1.742000e+03,2098.000000,2035.000000,2102.000000,2101.00000,2095.000000,1.727000e+03,2102.000000,2102.000000,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,2102.000000
mean,737.441009,7.495865e+05,1997.473308,9.472727,1975.853949,0.02475,1997.642959,7.497462e+05,0.974786,0.971931,...,2777.0,2776.0,2775.0,2774.0,3094.0,3133.0,3434.0,3441.0,3720.0,3.174596
std,426.174218,4.118668e+05,7.908484,3.523013,1140.580879,0.15540,7.905753,4.106260e+05,0.156812,0.165208,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.800656
min,2.000000,2.135000e+03,1971.000000,1.000000,2.000000,0.00000,1971.000000,2.135000e+03,0.000000,0.000000,...,2777.0,2776.0,2775.0,2774.0,3094.0,3133.0,3434.0,3441.0,3720.0,1.000000
25%,367.500000,7.017532e+05,1992.000000,6.000000,938.250000,0.00000,1992.000000,7.031710e+05,1.000000,1.000000,...,2777.0,2776.0,2775.0,2774.0,3094.0,3133.0,3434.0,3441.0,3720.0,1.000000
50%,752.000000,8.547010e+05,1999.000000,12.000000,2183.000000,0.00000,1999.000000,8.547010e+05,1.000000,1.000000,...,2777.0,2776.0,2775.0,2774.0,3094.0,3133.0,3434.0,3441.0,3720.0,2.000000
75%,1129.000000,1.024401e+06,2003.000000,12.000000,2953.000000,0.00000,2003.000000,1.023516e+06,1.000000,1.000000,...,2777.0,2776.0,2775.0,2774.0,3094.0,3133.0,3434.0,3441.0,3720.0,4.000000
max,1511.000000,1.603923e+06,2013.000000,12.000000,3807.000000,1.00000,2019.000000,1.603923e+06,1.000000,1.000000,...,2777.0,2776.0,2775.0,2774.0,3094.0,3133.0,3434.0,3441.0,3720.0,49.000000

In [73]:
dgls.where(dgls.YEAR == 0).head()

Row(AAER DATABASE IDENTIFIER='disclosure', COMPUSTAT IDENTIFIER=' the payment of vendor invoices', ID='  improperly adjusting reserve accounts etc."', CONAME_x='0.0', CIK_x='0.0', YEARA=0.0, FYR=0.0, DATE='0.0', P_AAER_x=1.0, UNDERSTATEMENT=0.0, YEAR=0.0, CONAME_y='1.0', CIK_y=1.0, QUARTER=0.0, ANNUAL=0.0, REASON='1.0', EXPLANATION='0.0', AUDIT='0.0', BRIBES='0.0', DISCLOSURE='1', NODATES='2654.0', OTHER=2654.0, REV=2977.0, REC=2986.0, COGS=2987.0, INV=2988.0, RES=None, DEBT=None, MKT_SEC=None, INC_EXP_SE=None, ASSET=None, PAY=None, LIAB=None, FIGURE=None, P_AAER_y=None, AAER1=None, AAER2=None, AAER3=None, AAER4=None, AAER5=None, AAER6=None, AAER7=None, AAER8=None, AAER9=None, AAER10=None, AAER11=None, AAER12=None, AAER13=None, AAER14=None, AAER15=None, AAER16=None, AAER17=None, AAER18=None, AAER19=None, AAER20=None, AAER21=None, AAER22=None, AAER23=None, AAER24=None, AAER25=None, AAER26=None, AAER27=None, AAER28=None, AAER29=None, AAER30=None, AAER31=None, AAER32=None, AAER33=None, AAER34=None, AAER35=None, AAER36=5.0, AAER37=None, AAER38=None, AAER39=None, AAER40=None, AAER41=None, AAER42=None, AAER43=None, AAER44=None, AAER45=None, AAER46=None, AAER47=None, AAER48=None, AAER49=None, TotalAAER=None)

In [74]:
dgls.head()

Row(AAER DATABASE IDENTIFIER='ABS Industries, Inc.', COMPUSTAT IDENTIFIER='ABS INDUSTRIES INC', ID='17', CONAME_x='ABS Industries, Inc.', CIK_x='313368.0', YEARA=1994.0, FYR=10.0, DATE='10/31/94', P_AAER_x=1240.0, UNDERSTATEMENT=0.0, YEAR=1994.0, CONAME_y='ABS Industries, Inc.', CIK_y=313368.0, QUARTER=1.0, ANNUAL=1.0, REASON=None, EXPLANATION='premature recording of bill and hold sales', AUDIT='0.0', BRIBES='0.0', DISCLOSURE='0.0', NODATES='0.0', OTHER=0.0, REV=1.0, REC=0.0, COGS=0.0, INV=0.0, RES=0.0, DEBT=0.0, MKT_SEC=0.0, INC_EXP_SE=0.0, ASSET=0.0, PAY=0.0, LIAB=0.0, FIGURE=1.0, P_AAER_y=1240.0, AAER1=1298.0, AAER2=1240.0, AAER3=1197.0, AAER4=None, AAER5=None, AAER6=None, AAER7=None, AAER8=None, AAER9=None, AAER10=None, AAER11=None, AAER12=None, AAER13=None, AAER14=None, AAER15=None, AAER16=None, AAER17=None, AAER18=None, AAER19=None, AAER20=None, AAER21=None, AAER22=None, AAER23=None, AAER24=None, AAER25=None, AAER26=None, AAER27=None, AAER28=None, AAER29=None, AAER30=None, AAER31=None, AAER32=None, AAER33=None, AAER34=None, AAER35=None, AAER36=None, AAER37=None, AAER38=None, AAER39=None, AAER40=None, AAER41=None, AAER42=None, AAER43=None, AAER44=None, AAER45=None, AAER46=None, AAER47=None, AAER48=None, AAER49=None, TotalAAER=3.0)