In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, when, count, col
spark = SparkSession.builder.appName('733').getOrCreate()
sc = spark.sparkContext

aaer = spark.read.csv('../data/dgls_integrated.csv', header=True, inferSchema=True)

In [41]:
import pandas as pd
pd_aaer = pd.read_csv('../data/dgls_integrated.csv')

In [53]:
pd_aaer.dtypes

AAER DATABASE IDENTIFIER     object
COMPUSTAT IDENTIFIER         object
ID                            int64
CONAME_x                     object
CIK_x                       float64
YEARA                       float64
FYR                         float64
DATE                         object
P_AAER_x                      int64
UNDERSTATEMENT              float64
YEAR                        float64
CONAME_y                     object
CIK_y                       float64
QUARTER                     float64
ANNUAL                      float64
REASON                       object
EXPLANATION                  object
AUDIT                       float64
BRIBES                      float64
DISCLOSURE                  float64
NODATES                     float64
OTHER                       float64
REV                         float64
REC                         float64
COGS                        float64
INV                         float64
RES                         float64
DEBT                        float64
MKT_SEC                     float64
INC_EXP_SE                  float64
                             ...
AAER21                      float64
AAER22                      float64
AAER23                      float64
AAER24                      float64
AAER25                      float64
AAER26                      float64
AAER27                      float64
AAER28                      float64
AAER29                      float64
AAER30                      float64
AAER31                      float64
AAER32                      float64
AAER33                      float64
AAER34                      float64
AAER35                      float64
AAER36                      float64
AAER37                      float64
AAER38                      float64
AAER39                      float64
AAER40                      float64
AAER41                      float64
AAER42                      float64
AAER43                      float64
AAER44                      float64
AAER45                      float64
AAER46                      float64
AAER47                      float64
AAER48                      float64
AAER49                      float64
TotalAAER                   float64
Length: 85, dtype: object

In [48]:
pd_aaer.columns

Index(['AAER DATABASE IDENTIFIER', 'COMPUSTAT IDENTIFIER', 'ID', 'CONAME_x',
       'CIK_x', 'YEARA', 'FYR', 'DATE', 'P_AAER_x', 'UNDERSTATEMENT', 'YEAR',
       'CONAME_y', 'CIK_y', 'QUARTER', 'ANNUAL', 'REASON', 'EXPLANATION',
       'AUDIT', 'BRIBES', 'DISCLOSURE', 'NODATES', 'OTHER', 'REV', 'REC',
       'COGS', 'INV', 'RES', 'DEBT', 'MKT_SEC', 'INC_EXP_SE', 'ASSET', 'PAY',
       'LIAB', 'FIGURE', 'P_AAER_y', 'AAER1', 'AAER2', 'AAER3', 'AAER4',
       'AAER5', 'AAER6', 'AAER7', 'AAER8', 'AAER9', 'AAER10', 'AAER11',
       'AAER12', 'AAER13', 'AAER14', 'AAER15', 'AAER16', 'AAER17', 'AAER18',
       'AAER19', 'AAER20', 'AAER21', 'AAER22', 'AAER23', 'AAER24', 'AAER25',
       'AAER26', 'AAER27', 'AAER28', 'AAER29', 'AAER30', 'AAER31', 'AAER32',
       'AAER33', 'AAER34', 'AAER35', 'AAER36', 'AAER37', 'AAER38', 'AAER39',
       'AAER40', 'AAER41', 'AAER42', 'AAER43', 'AAER44', 'AAER45', 'AAER46',
       'AAER47', 'AAER48', 'AAER49', 'TotalAAER'],
      dtype='object')

In [49]:
pd_aaer[pd_aaer['CONAME_x']=='Sunbeam Corporation'].loc[:, 'AUDIT':'FIGURE']

,AUDIT,BRIBES,DISCLOSURE,NODATES,OTHER,REV,REC,COGS,INV,RES,DEBT,MKT_SEC,INC_EXP_SE,ASSET,PAY,LIAB,FIGURE
12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
13,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [62]:
reasons = ["EXPLANATION","AUDIT","BRIBES","DISCLOSURE","NODATES","OTHER","REV","REC","COGS","INV","RES","DEBT","MKT_SEC","INC_EXP_SE","ASSET","PAY","LIAB","FIGURE","]

SyntaxError: EOL while scanning string literal (<ipython-input-62-d62dd6f27b2e>, line 1)

In [63]:
pd_simple = pd_aaer.loc[:, reasons]

In [64]:
pd_simple

,CONAME_x,AUDIT,BRIBES,DISCLOSURE,NODATES,OTHER,REV,REC,COGS,INV,RES,DEBT,MKT_SEC,INC_EXP_SE,ASSET,PAY,LIAB,FIGURE
0,"ABS Industries, Inc.",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,Advanced Chemical Corporation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
2,"WorldCom, Inc. (now known as MCI, Inc.)",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
3,"WorldCom, Inc. (now known as MCI, Inc.)",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
4,"WorldCom, Inc. (now known as MCI, Inc.)",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
5,Aerosonic Corporation,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
6,Aerosonic Corporation,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7,Aerosonic Corporation,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
8,Aerosonic Corporation,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9,Aetna Life and Casualty Company,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
10,Alexander & Alexander Services Inc.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1
11,Alexander & Alexander Services Inc.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1
12,Sunbeam Corporation,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
13,Sunbeam Corporation,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
14,"ANW, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
15,"ANW, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
16,"ANW, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
17,"ANW, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
18,"ANW, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
19,Alpex Computer Corp.,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
20,American Continental Corporation (former subsi...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
21,American Continental Corporation (former subsi...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
22,American Continental Corporation (former subsi...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
23,American/Davey Corporation,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
24,American/Davey Corporation,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
25,American Express Company,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
26,American Express Company,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
27,"American International Group, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1
28,"American International Group, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1
29,"American International Group, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072,"Alpha Titans, LP",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2073,Alpha Titans MF SPC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2074,Alpha Titans MF SPC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2075,Alpha Titans MF SPC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2076,Alpha Titans MF SPC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2077,Trinity Capital Corporation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2078,Trinity Capital Corporation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2079,BioElectronics Corp.,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2080,KeyBanc Capital Markets Inc.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1
2081,Westlands Water District,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1
2082,"Icon Income Fund Nine, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2083,"Icon Income Fund Nine, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2084,"Icon Income Fund Nine, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2085,"Icon Income Fund Nine, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2086,"Icon Income Fund Ten, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2087,"Icon Income Fund Ten, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2088,"Icon Income Fund Ten, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2089,"Icon Income Fund Ten, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2090,"Icon Leasing Fund Eleven, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2091,"Icon Leasing Fund Eleven, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2092,"Icon Leasing Fund Eleven, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2093,"Icon Leasing Fund Eleven, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2094,"Icon Leasing Fund Twelve, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2095,"Icon Leasing Fund Twelve, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2096,"Icon Leasing Fund Twelve, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2097,"Icon Leasing Fund Twelve, LLC",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1
2098,"ContinuityX Solutions, Inc.",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2099,"KeyBanc Capital Market, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
2100,"Fusion Pharm, Inc.",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
2101,"Fusion Pharm, Inc.",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [65]:
some_df = spark.createDataFrame(pd_simple)

In [66]:
some_df.dtypes

[('CONAME_x', 'string'),
 ('AUDIT', 'double'),
 ('BRIBES', 'double'),
 ('DISCLOSURE', 'double'),
 ('NODATES', 'double'),
 ('OTHER', 'double'),
 ('REV', 'double'),
 ('REC', 'double'),
 ('COGS', 'double'),
 ('INV', 'double'),
 ('RES', 'double'),
 ('DEBT', 'double'),
 ('MKT_SEC', 'double'),
 ('INC_EXP_SE', 'double'),
 ('ASSET', 'double'),
 ('PAY', 'double'),
 ('LIAB', 'double'),
 ('FIGURE', 'bigint')]

In [67]:
some_df = some_df.drop('FIGURE')

In [69]:
some_df.show()

+--------------------+-----+------+----------+-------+-----+---+---+----+---+---+----+-------+----------+-----+---+----+
|            CONAME_x|AUDIT|BRIBES|DISCLOSURE|NODATES|OTHER|REV|REC|COGS|INV|RES|DEBT|MKT_SEC|INC_EXP_SE|ASSET|PAY|LIAB|
+--------------------+-----+------+----------+-------+-----+---+---+----+---+---+----+-------+----------+-----+---+----+
|ABS Industries, Inc.|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|
|Advanced Chemical...|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|
|WorldCom, Inc. (n...|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|1.0| 0.0|    0.0|       1.0|  1.0|0.0| 0.0|
|WorldCom, Inc. (n...|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|1.0| 0.0|    0.0|       1.0|  1.0|0.0| 0.0|
|WorldCom, Inc. (n...|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|1.0| 0.0|    0.0|       1.0|  1.0|0.0| 0.0|
|Aerosonic Corpora...|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|
|Aerosonic Corpora...|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|
|Aerosonic Corpora...|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|
|Aerosonic Corpora...|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|
|Aetna Life and Ca...|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       1.0|  1.0|0.0| 0.0|
|Alexander & Alexa...|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       1.0|  1.0|0.0| 1.0|
|Alexander & Alexa...|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       1.0|  1.0|0.0| 1.0|
| Sunbeam Corporation|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|1.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|
| Sunbeam Corporation|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|1.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|
|           ANW, Inc.|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|
|           ANW, Inc.|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|
|           ANW, Inc.|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|
|           ANW, Inc.|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|
|           ANW, Inc.|  0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|
|Alpex Computer Corp.|  0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|
+--------------------+-----+------+----------+-------+-----+---+---+----+---+---+----+-------+----------+-----+---+----+
only showing top 20 rows

In [104]:
nullcounts = df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns])

TypeError: 'str' object is not callable

In [108]:
from operator import add
from functools import reduce
import pyspark.sql.functions as F
numeric_col_list = [k for (k,v) in some_df.dtypes if v == 'double']
sums = df.select([F.sum(c).alias('sum'+c) for c in numeric_col_list])
# new_df = some_df.withColumn('total',reduce(add, [F.col(x) for x in numeric_col_list]))
# new_df.show()

In [110]:
sums.show()

+--------+---------+-------------+----------+--------+------+------+-------+------+------+-------+----------+-------------+--------+------+-------+
|sumAUDIT|sumBRIBES|sumDISCLOSURE|sumNODATES|sumOTHER|sumREV|sumREC|sumCOGS|sumINV|sumRES|sumDEBT|sumMKT_SEC|sumINC_EXP_SE|sumASSET|sumPAY|sumLIAB|
+--------+---------+-------------+----------+--------+------+------+-------+------+------+-------+----------+-------------+--------+------+-------+
|    11.0|  28462.0|      41504.0|   63909.0| 42263.0|9837.0|9304.0| 9173.0|9207.0| 224.0|   61.0|      68.0|        937.0|   589.0|  56.0|  191.0|
+--------+---------+-------------+----------+--------+------+------+-------+------+------+-------+----------+-------------+--------+------+-------+

In [103]:
from pyspark.sql import functions as F
data = spark.createDataFrame([("abc", 20, "A"), ("def", 30, "B")],["name", "age", "city"])

res = data.unionAll(
    data.select([
        F.lit('All').alias('name'), # create a cloumn named 'name' and filled with 'All'
        F.sum(data.age).alias('age'), # get the sum of 'age'
        F.lit('All').alias('city') # create a column named 'city' and filled with 'All'
    ]))
# res.show()
data.select([
        F.lit('All').alias('name'), # create a cloumn named 'name' and filled with 'All'
        F.sum(data.age).alias('age'), # get the sum of 'age'
        F.lit('All').alias('city') # create a column named 'city' and filled with 'All'
    ]).show()

+----+---+----+
|name|age|city|
+----+---+----+
| All| 50| All|
+----+---+----+

In [90]:
numeric_col_list
df_list = []
for col in numeric_col_list:
    df_list.append(data.select(F.sum(data[col])))

In [99]:
res = data.unionAll(df_list)
res.show()

AttributeError: 'list' object has no attribute '_jdf'

In [24]:
aaer.head()

Row(AAER DATABASE IDENTIFIER='ABS Industries, Inc.', COMPUSTAT IDENTIFIER='ABS INDUSTRIES INC', ID='17', CONAME_x='ABS Industries, Inc.', CIK_x='313368.0', YEARA=1994.0, FYR=10.0, DATE='10/31/94', P_AAER_x=1240.0, UNDERSTATEMENT=0.0, YEAR=1994.0, CONAME_y='ABS Industries, Inc.', CIK_y=313368.0, QUARTER=1.0, ANNUAL=1.0, REASON=None, EXPLANATION='premature recording of bill and hold sales', AUDIT='0.0', BRIBES='0.0', DISCLOSURE='0.0', NODATES='0.0', OTHER=0.0, REV=1.0, REC=0.0, COGS=0.0, INV=0.0, RES=0.0, DEBT=0.0, MKT_SEC=0.0, INC_EXP_SE=0.0, ASSET=0.0, PAY=0.0, LIAB=0.0, FIGURE=1.0, P_AAER_y=1240.0, AAER1=1298.0, AAER2=1240.0, AAER3=1197.0, AAER4=None, AAER5=None, AAER6=None, AAER7=None, AAER8=None, AAER9=None, AAER10=None, AAER11=None, AAER12=None, AAER13=None, AAER14=None, AAER15=None, AAER16=None, AAER17=None, AAER18=None, AAER19=None, AAER20=None, AAER21=None, AAER22=None, AAER23=None, AAER24=None, AAER25=None, AAER26=None, AAER27=None, AAER28=None, AAER29=None, AAER30=None, AAER31=None, AAER32=None, AAER33=None, AAER34=None, AAER35=None, AAER36=None, AAER37=None, AAER38=None, AAER39=None, AAER40=None, AAER41=None, AAER42=None, AAER43=None, AAER44=None, AAER45=None, AAER46=None, AAER47=None, AAER48=None, AAER49=None, TotalAAER=3.0)

In [7]:
aaer.head()

Row(AAER DATABASE IDENTIFIER='ABS Industries, Inc.', COMPUSTAT IDENTIFIER='ABS INDUSTRIES INC', ID='17', CONAME_x='ABS Industries, Inc.', CIK_x='313368.0', YEARA=1994.0, FYR=10.0, DATE='10/31/94', P_AAER_x=1240.0, UNDERSTATEMENT=0.0, YEAR=1994.0, CONAME_y='ABS Industries, Inc.', CIK_y=313368.0, QUARTER=1.0, ANNUAL=1.0, REASON=None, EXPLANATION='premature recording of bill and hold sales', AUDIT='0.0', BRIBES='0.0', DISCLOSURE='0.0', NODATES='0.0', OTHER=0.0, REV=1.0, REC=0.0, COGS=0.0, INV=0.0, RES=0.0, DEBT=0.0, MKT_SEC=0.0, INC_EXP_SE=0.0, ASSET=0.0, PAY=0.0, LIAB=0.0, FIGURE=1.0, P_AAER_y=1240.0, AAER1=1298.0, AAER2=1240.0, AAER3=1197.0, AAER4=None, AAER5=None, AAER6=None, AAER7=None, AAER8=None, AAER9=None, AAER10=None, AAER11=None, AAER12=None, AAER13=None, AAER14=None, AAER15=None, AAER16=None, AAER17=None, AAER18=None, AAER19=None, AAER20=None, AAER21=None, AAER22=None, AAER23=None, AAER24=None, AAER25=None, AAER26=None, AAER27=None, AAER28=None, AAER29=None, AAER30=None, AAER31=None, AAER32=None, AAER33=None, AAER34=None, AAER35=None, AAER36=None, AAER37=None, AAER38=None, AAER39=None, AAER40=None, AAER41=None, AAER42=None, AAER43=None, AAER44=None, AAER45=None, AAER46=None, AAER47=None, AAER48=None, AAER49=None, TotalAAER=3.0)

In [8]:
aaer.columns

['AAER DATABASE IDENTIFIER',
 'COMPUSTAT IDENTIFIER',
 'ID',
 'CONAME_x',
 'CIK_x',
 'YEARA',
 'FYR',
 'DATE',
 'P_AAER_x',
 'UNDERSTATEMENT',
 'YEAR',
 'CONAME_y',
 'CIK_y',
 'QUARTER',
 'ANNUAL',
 'REASON',
 'EXPLANATION',
 'AUDIT',
 'BRIBES',
 'DISCLOSURE',
 'NODATES',
 'OTHER',
 'REV',
 'REC',
 'COGS',
 'INV',
 'RES',
 'DEBT',
 'MKT_SEC',
 'INC_EXP_SE',
 'ASSET',
 'PAY',
 'LIAB',
 'FIGURE',
 'P_AAER_y',
 'AAER1',
 'AAER2',
 'AAER3',
 'AAER4',
 'AAER5',
 'AAER6',
 'AAER7',
 'AAER8',
 'AAER9',
 'AAER10',
 'AAER11',
 'AAER12',
 'AAER13',
 'AAER14',
 'AAER15',
 'AAER16',
 'AAER17',
 'AAER18',
 'AAER19',
 'AAER20',
 'AAER21',
 'AAER22',
 'AAER23',
 'AAER24',
 'AAER25',
 'AAER26',
 'AAER27',
 'AAER28',
 'AAER29',
 'AAER30',
 'AAER31',
 'AAER32',
 'AAER33',
 'AAER34',
 'AAER35',
 'AAER36',
 'AAER37',
 'AAER38',
 'AAER39',
 'AAER40',
 'AAER41',
 'AAER42',
 'AAER43',
 'AAER44',
 'AAER45',
 'AAER46',
 'AAER47',
 'AAER48',
 'AAER49',
 'TotalAAER']

In [38]:
reasons = ["CONAME_x","AUDIT","BRIBES","DISCLOSURE","NODATES","OTHER","REV","REC","COGS","INV","RES","DEBT","MKT_SEC","INC_EXP_SE","ASSET","PAY","LIAB","FIGURE"]

In [39]:
aaer.select(*reasons).show()

+--------------------+--------------------+------+----------+-------+-----+---+---+----+---+---+----+-------+----------+-----+---+----+------+
|            CONAME_x|               AUDIT|BRIBES|DISCLOSURE|NODATES|OTHER|REV|REC|COGS|INV|RES|DEBT|MKT_SEC|INC_EXP_SE|ASSET|PAY|LIAB|FIGURE|
+--------------------+--------------------+------+----------+-------+-----+---+---+----+---+---+----+-------+----------+-----+---+----+------+
|ABS Industries, Inc.|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|   1.0|
|Advanced Chemical...|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|   0.0|
|WorldCom, Inc. (n...|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|1.0| 0.0|    0.0|       1.0|  1.0|0.0| 0.0|   0.0|
|WorldCom, Inc. (n...|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|1.0| 0.0|    0.0|       1.0|  1.0|0.0| 0.0|   0.0|
|WorldCom, Inc. (n...|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|0.0| 0.0|0.0|1.0| 0.0|    0.0|       1.0|  1.0|0.0| 0.0|   0.0|
|Aerosonic Corpora...|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|   1.0|
|Aerosonic Corpora...|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|   1.0|
|Aerosonic Corpora...|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|   1.0|
|Aerosonic Corpora...|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  0.0|0.0| 0.0|   1.0|
|Aetna Life and Ca...|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       1.0|  1.0|0.0| 0.0|   1.0|
|Alexander & Alexa...|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       1.0|  1.0|0.0| 1.0|   1.0|
|Alexander & Alexa...|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       1.0|  1.0|0.0| 1.0|   1.0|
| Sunbeam Corporation| ""channel stuffi...|   0.0|       0.0|    0.0|  0.0|0.0|1.0| 0.0|0.0|0.0| 1.0|    0.0|       0.0|  0.0|0.0| 0.0|   0.0|
| Sunbeam Corporation| ""channel stuffi...|   0.0|       0.0|    0.0|  0.0|0.0|1.0| 0.0|0.0|0.0| 1.0|    0.0|       0.0|  0.0|0.0| 0.0|   0.0|
|           ANW, Inc.|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|   1.0|
|           ANW, Inc.|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|   1.0|
|           ANW, Inc.|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|   1.0|
|           ANW, Inc.|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|   1.0|
|           ANW, Inc.|                 0.0|   0.0|       0.0|    0.0|  0.0|0.0|0.0| 0.0|0.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|   1.0|
|Alpex Computer Corp.|                 0.0|   0.0|       0.0|    0.0|  0.0|1.0|1.0| 1.0|1.0|0.0| 0.0|    0.0|       0.0|  1.0|0.0| 0.0|   1.0|
+--------------------+--------------------+------+----------+-------+-----+---+---+----+---+---+----+-------+----------+-----+---+----+------+
only showing top 20 rows

In [33]:
df = aaer
df_num = aaer.select(df.AUDIT.cast("float"), 
df.BRIBES.cast("float"))

In [35]:
df_num.show()

+-----+------+
|AUDIT|BRIBES|
+-----+------+
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
| null|   0.0|
| null|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
|  0.0|   0.0|
+-----+------+
only showing top 20 rows

In [18]:
aaer.select(sum(reason) for reason in reasons)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
dgls.agg({"YEARA": "min"}).show()

+----------+
|min(YEARA)|
+----------+
|       0.0|
+----------+

In [5]:
dgls.select('ID').distinct().count()

862

In [6]:
num_aaer_per_firm = dgls.groupBy('ID').count().withColumnRenamed("count", "num_aaer_per_firm")

In [7]:
num_aaer_per_firm.orderBy('num_aaer_per_firm', ascending=False).show()

+----+-----------------+
|  ID|num_aaer_per_firm|
+----+-----------------+
|  34|               24|
| 305|               15|
|1166|               14|
|1168|               14|
|1229|               14|
| 178|               13|
|1192|               13|
| 0.0|               13|
|1268|               12|
|1312|               10|
|1493|               10|
| 389|               10|
|1303|               10|
|1243|               10|
| 555|                9|
| 621|                9|
| 806|                9|
| 774|                9|
|1445|                9|
|1376|                8|
+----+-----------------+
only showing top 20 rows

In [8]:
num_aaer_per_firm_count = num_aaer_per_firm.groupBy('num_aaer_per_firm').count().orderBy('num_aaer_per_firm').withColumnRenamed("count", "num_of_firms")

In [9]:
num_aaer_per_firm_count.show()

+-----------------+------------+
|num_aaer_per_firm|num_of_firms|
+-----------------+------------+
|                1|         379|
|                2|         191|
|                3|         112|
|                4|          75|
|                5|          37|
|                6|          29|
|                7|          10|
|                8|          10|
|                9|           5|
|               10|           5|
|               12|           1|
|               13|           3|
|               14|           3|
|               15|           1|
|               24|           1|
+-----------------+------------+

In [10]:
total_firms = dgls.select('ID').distinct().count()

In [11]:
num_aaer_per_firm_count = num_aaer_per_firm_count.withColumn('percentage_firms', \
                                   num_aaer_per_firm_count.num_of_firms/total_firms)

In [12]:
num_aaer_per_firm_count = num_aaer_per_firm_count.withColumn('total_aaers', \
                                   num_aaer_per_firm_count.num_aaer_per_firm*num_aaer_per_firm_count.num_of_firms)

In [13]:
num_aaer_per_firm_count.show()

+-----------------+------------+--------------------+-----------+
|num_aaer_per_firm|num_of_firms|    percentage_firms|total_aaers|
+-----------------+------------+--------------------+-----------+
|                1|         379|  0.4396751740139211|        379|
|                2|         191| 0.22157772621809746|        382|
|                3|         112| 0.12993039443155452|        336|
|                4|          75| 0.08700696055684455|        300|
|                5|          37|0.042923433874709975|        185|
|                6|          29|0.033642691415313224|        174|
|                7|          10| 0.01160092807424594|         70|
|                8|          10| 0.01160092807424594|         80|
|                9|           5| 0.00580046403712297|         45|
|               10|           5| 0.00580046403712297|         50|
|               12|           1|0.001160092807424594|         12|
|               13|           3|0.003480278422273...|         39|
|               14|           3|0.003480278422273...|         42|
|               15|           1|0.001160092807424594|         15|
|               24|           1|0.001160092807424594|         24|
+-----------------+------------+--------------------+-----------+